.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  border: 1px solid black;
  height: 300px;
}

.navigation-menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}